.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-family: 'Tilt Neon', sans-serif;
    font-size: 30px;
}

.navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li{
    margin: 10px;
}

.navbar a{
    color: aliceblue !important;
}